.heroimg {
	background-image: url('img/desk-593327_1920.jpg');
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	transform: translate3d(0px, 0px, 0px);
